html, body{
  min-height: 100%
}
#root{
  height: 100%
}
.my-layout{
  min-height: 100vh
}
.ck-header{
  display:flex;
  padding: 0 25px
}
.logo{
  flex: 1;
  width: 600px !important;
  img{
    display:block;
    height: 100%
  }
}
.ant-btn, .ant-input, .ant-picker, .ant-input-number, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 2px !important
}
.ant-picker{
  width: 100%
}
.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
  min-height: 100%
}
