//.ag-row-hover {
//  background-color: greenyellow !important;
//}
//
//.ag-column-hover {
//  background-color: yellow;
//}

// 单击不选中
//.ag-cell-focus,.ag-cell-no-focus{
//  border:transparent !important;
//}

// 设置某一个单元格的
.warning{
  background-color:#ff6700 !important;
  font-size: 16px;
}
.error{
  background-color:#ff5252 !important;
}
.success{
  background-color:greenyellow !important;
}

.textRenderer{
  color:#a0d911;
}
.ant-btn {
  font-size: 10px
}
