.ag-row-hover {
  background-color: #dfdfff !important;
}

.ag-column-hover {
  background-color: #dfffdf;
}

// 设置某一个单元格的
.warning{
  background-color:#ff6700 !important
}
.error{
  background-color:#ff5252 !important;
}
.success{
  background-color:greenyellow !important;
}
